* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    list-style-type: none;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

nav img {
    height: 25px;
    width: 200px;
}

nav {
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid whitesmoke;

}

.nav-left {
    height: 50px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#programs {
    background-color: white;
    border: none;
    cursor: pointer;
}

#counselling {
    margin-left: 50px;
    background-color: #ffcd00;
    height: 53px;
    width: 14vw;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

#Hurry {
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 40%;
    margin-top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #ff4900;
    background-color: #f8cbb1;
}
.parent{
    height: 1000vh;
    width: 1520px;
}
main {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 515px;
    width: 1500px;
    margin-top: 0px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 327px;
    width: 38rem;
    margin-top: 55px;
    margin-left: 177px;
}

.right {
    margin-top: 0px;
    background-color: white;
    height: 430px;
    width: 638px;
}

.right img {
    height: 100%;
    width: 567px;
    background-color: white;
    mix-blend-mode: multiply;
    filter: contrast(1.1);
}

span {
    color: grey;
}

.bar {
    height: 60px;
    width: 510px;
    display: flex;
    align-items: center;
    background: whitesmoke;
    border-radius: 10px;
    margin-top: 15px;
}

.bar h6 {
    width: 143px;
    font-weight: 400;
    font-size: small;
    color: grey;
    margin-left: 15px;
}

section {
    height: 100vh;
    margin-left: 25px;
    width: 1475px;
    background-color: #f5e08d;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


.float {
    position: absolute;
    border-radius: 1rem;
    top: 526px;
    left: 13%;
    width: 77%;
    height: 120px;
    padding: 0px 24px;
    line-height: 3.5rem;
    box-shadow: var(--box-shadow);
    z-index: 1000;
    background-color: whitesmoke;
}

.float .upper-float {
    display: flex;
    height: 40px;
    /* margin-top: 10px; */
    margin-left: 34px;
    width: fit-content;
}

.float .upper-float div {
    font-size: 15px;
    margin-right: 41px;
    margin-left: -24px;
}

.float .upper-float .dis {
    color: var(--span-color);
}

.float .upper-float div {
    font-size: 15px;
    margin-right: 41px;
    margin-left: -24px;
}


.float .lower-text {
    display: flex;
}

.float .lower-text div {
    margin-right: 1rem;
}

.float .lower-text div input {
    height: 50px;
    width: 17vw;
    border-radius: 0.5rem;
    color: var(--span-color);
    padding: 0 1rem;
    border: 0.5px solid #93aac2;
}
.float .lower-text .btn1 {
    margin-right: 6.5rem;
    font-size: 20px;
    color: white;
    text-align: center;
    height: 58px;
    width: 12rem;
    border-radius: 0.5rem;
    padding: 0 2rem;
    background-color: rgb(51, 50, 50);
}

.float .lower-text .btn1 i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}